In [3]:
import pymongo
import pandas as pd

In [7]:
#Extração Mongo

mongo = pymongo.MongoClient("mongodb+srv://estudante_igti:SRwkJTDz2nA28ME9@unicluster.ixhvw.mongodb.net/ibge?retryWrites=true&w=majority")
db = mongo.ibge
pnad_collect = db.pnadc20203
df = pd.DataFrame(list(pnad_collect.find()))
df.to_csv('mongo.csv', index=False, encoding = 'utf-8', sep= ';')

In [6]:
#Extração IBGE

api = requests.get("https://servicodados.ibge.gov.br/api/v1/localidades/estados/SP/mesorregioes")
resjson = json.loads(api.text)
df = pd.DataFrame(resjson)[['id','nome']]
df.to_csv('/tmp/dimensao_localidades_SP.csv', index=False, encoding = 'utf-8', sep= ';')

,_id,ano,trimestre,uf,sexo,idade,cor,graduacao,trab,ocup,renda,horastrab,anosesco
0,600ce0685daa95c6616007ac,2020,3,Acre,Mulher,62,Parda,None,Pessoas fora da força de trabalho,None,NaN,NaN,0.0
1,600ce0685daa95c6616007ad,2020,3,Acre,Homem,7,Parda,None,None,None,NaN,NaN,1.0
2,600ce0685daa95c6616007ae,2020,3,Acre,Mulher,42,Preta,None,Pessoas na força de trabalho,Pessoas desocupadas,NaN,NaN,12.0
3,600ce0685daa95c6616007af,2020,3,Acre,Homem,47,Preta,None,Pessoas na força de trabalho,Pessoas ocupadas,1000.0,30.0,10.0
4,600ce0685daa95c6616007b0,2020,3,Acre,Homem,11,Preta,None,None,None,NaN,NaN,5.0

In [ ]:
res = requests.get("https://servicodados.ibge.gov.br/api/v1/localidades/microrregioes")
resjson = json.loads(res.text)
df_ibge = pd.DataFrame(resjson)

df_meso = pd.DataFrame(list(df_ibge['mesorregiao']))
df_uf = pd.DataFrame(list(df_meso['UF']))
df_regiao = pd.DataFrame(list(df_uf['regiao']))

df_ibge['mesorregiao'] = df_meso['nome']
df_ibge['UF'] = df_uf['sigla']
df_ibge['regiao'] = df_regiao['nome']

df_ibge.columns = ['id_microrregiao', 'microrregiao', 'mesorregiao', 'UF', 'regiao']

df_ibge.head()